.dropdownContainer {
  display: flex;
  width: max-content;
  height: 48px;
  justify-content: space-between;
  align-items: center;

  & .dropdownLabel {
    display: flex;
    align-items: center;
    width: max-content;
    height: 16px;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #484848;
    margin: 0 16px 0 0;
  }

  & .dropdownMainContainer {
    display: flex;
    width: max-content;
    height: max-content;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
    border-radius: 8px;
  }
}
