.dropdownFilter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 46px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;


    & .dropdownTextFilter {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      height: 24px;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: -0.28px;
      color: #484848;
      margin: 0 4px 0 16px;
    }

    & .dropdownCount {
      visibility: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: solid 1px #ffffff;
      background-color: #ff6000;
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 2;
      letter-spacing: normal;
      color: #ffffff;
    }

    & .dropdownImgFilter {
      width: 20px;
      height: 20px;
      -o-object-fit: contain;
      object-fit: contain;
      margin: 0 16px 0 4px;
    }
  }

  .dropdownFilterContentContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    width: 262px;
    height: 198px;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    margin: 8px 0 0 0;
    cursor: default;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    & .dropdownFilterContent {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 232px;
      height: 24px;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: -0.28px;
      color: #484848;
      border-radius: 8px;
      background-color: #ffffff;
      margin: 12px 0 0 18px;
      cursor: pointer;

      & .dropdownFilterContentCheckBox {
        width: 20px;
        height: 20px;
        margin-right: 12px;
        cursor: pointer;
      }

      & .dropdownFilterContentText {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 153px;
        height: 20px;
        margin-right: 16px;
      }

      & .dropdownFilterContentMerchantRate {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-width: 37px;
        height: 20px;
        border-radius: 12px;
        background-color: #439e4a;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
      }

      & .dropdownFilterContentImgContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        & .dropdownFilterContentImg {
          width: 14px;
          height: 14px;
          -o-object-fit: contain;
          object-fit: contain;
          margin-right: 4px;
        }
      }
    }
  }


.loadingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);

  .loading{
    width:48px;
    height:24px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 4px solid #ff6000;
    border-bottom: 0;
    -webkit-animation:loading 1s linear 0s infinite none;
    animation:loading 1s linear 0s infinite none;
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-transform-style: preserve-3D;
    transform-style: preserve-3D;
  }
  @-webkit-keyframes loading{
    from{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
  }
  @keyframes loading{
    from{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
  }
}