.searchContainer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 48px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;

  .searchIcon{
    min-width: 20px;
    height: 20px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-left: 16px;
  }

  .search{
    width: 169px;
    height: 24px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: -0.28px;
    color: #484848;
    padding: 12px 40px 12px 8px;
    outline: none;
    border: none;

    &::-webkit-input-placeholder{
      color: #9b9b9b;
    }

    &::-moz-placeholder{
      color: #9b9b9b;
    }

    &:-ms-input-placeholder{
      color: #9b9b9b;
    }

    &::-ms-input-placeholder{
      color: #9b9b9b;
    }

    &::placeholder{
      color: #9b9b9b;
    }
  }
}