.searchContainer{
  display: flex;
  width: max-content;
  height: 48px;
  justify-content: center;
  align-items: center;
  border: none;

  .searchIcon{
    min-width: 20px;
    height: 20px;
    object-fit: contain;
    margin-left: 16px;
  }

  .search{
    width: 169px;
    height: 24px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: -0.28px;
    color: #484848;
    padding: 12px 40px 12px 8px;
    outline: none;
    border: none;

    &::placeholder{
      color: #9b9b9b;
    }
  }
}